*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: primary;
}

@font-face {
  font-family: primary;
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: primary-m;
  src: url('./fonts/Poppins-Medium.ttf');
}